.center-text {
  text-align: center;
}

.header-lg {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 2rem;
}

.header-sm {
  font-size: 2.6rem;
  font-weight: 300;
  margin: 1rem;
}

.error {
  color: #ff1616;
  font-size: 2rem;
  margin: 5rem 0;
}
