.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem;
}

.container-sm {
  width: 80%;
  margin: 0 auto;
}

.dark {
  color: #dadada;
  background-color: #1c2022;
  height: 100%;
}

.bg-light {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.bg-dark {
  background-color: rgb(36, 40, 42);
  border-radius: 3px;
}
